{% extends "base.html" %}

{% block content %}
  {# if request.user.username == player.user.username #}
    <!-- Self template -->
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-title">{{ player.user.username }}</h2>
        <div class="col-xs-6 win-loss-metric">{{ player.get_wins.count }} won</div>
        <div class="col-xs-6 win-loss-metric">{{ player.get_losses }} lost</div>
        <p style="text-align: center;">{{ player.win_rate }}% win rate in {{ player.matches.count }} game(s)</p>
        <hr style="clear: both;">
        <p><strong>Trueskill (μ):</strong> {{ player.rating_mu }}</p>
        <p><strong>Confidence (σ):</strong> {{ player.rating_sigma }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <p>Here are your latest games:
        <ul>
          {% for match in player.matches.all %}
            <li>Match <a href="match/{{ match.pk }}">#{{ match.pk }}</a> @ {{ match.date }}
            <br>{{ match.get_players | safe }}</li>
          {% empty %}
            No games found. Play some foosball!
          {% endfor %}
        </p>
      </div>
    </div>
  {% comment else %}
    <!-- Other template -->
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-title">{{ player.user.username }}</h2>
        <p>{{ player.user.username }}'s skill is {{ player.rating_mu }} (σ={{ player.rating_sigma }})!</p>
        <p>They've won {{ player.get_wins.count }} games.</p>
        <p>They've lost {{ player.get_losses }} games.</p>
        <p>They've won {{ player.get_wins.count }} out of {{ player.matches.count }} game(s) ({{ player.win_rate }}%)!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <p>Here are their latest games:
        <ul>
          {% for match in player.matches.all %}
            <li>Match <a href="match/{{ match.pk }}">#{{ match.pk }}</a> @ {{ match.date }}
              <br>{{ match.get_players | safe }}</li>
          {% empty %}
            No games found. Maybe you should ask them to play?
          {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}
  {% endcomment %}
{% endblock %}
