{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <div class="card">
    <h2 class="card-title">match lobby</h2>

    {% if match.winners.count == 0 or match.winners.count == 0 %}
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    {% else %}
      <p>Game completed at {{ match.end_date }} ({{ match.date|timesince:match.end_date }} long).</p>
      <p>Winners: {{ match.winners.all }}</p>
      <p>Losers: {{ match.losers.all }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
