<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Foosify</title>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/foosify.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}" >
  <script src="{% static 'js/jquery.min.js' %}"></script> <!-- Jquery v2.1.4 -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="ion-record"></i> FOOSIFY</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="/match/new"><i class="ion-android-add-circle"></i> New Match</a></li>
          <li><a href="#"><i class="ion-trophy"></i> Leaderboards</a></li>
          <li><a href="#"><i class="ion-android-notifications"></i> Notifications</a></li>
          <li><a href="/@{{ request.user }}"><i class="ion-android-person"></i> Profile</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-android-settings"></i> Settings <i class="ion-android-arrow-dropdown"></i></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Team Admin</li>
              <li><a href="#">Invite User</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Account Settings</li>
              <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
              <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="page-content">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</div>
</body>
</html>
